@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$maincolor: #623b1c;
$sec-color: #f6eddd;
$dark-color: #14120f;
$dark-milk: #caad8c;

$font-sizes: ();

// @mixin mainFont {
//   font-family: Arial, Helvetica, sans-serif;
// }
@mixin mainFont {
  font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $dark-color;
}

li {
  list-style: none;
}

@mixin flex($jus, $align, $dir) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  flex-direction: $dir;
}

@mixin transition {
  transition: all 700ms ease-in-out;
}

@mixin small-PCs {
  @media screen and (max-width: 1090px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobiles {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin small-mobiles {
  @media screen and (max-width: 420px) {
    @content;
  }
}

@mixin x-small-mobiles {
  @media screen and (min-width: 200px) and (max-width: 370px) {
    @content;
  }
}
