@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$dark-color: 99;
$blue-color: #0568be;
$gray-color: rgba(0, 0, 0, 0.5);
$gray-darker-color: rgba(0, 0, 0, 0.8);

$font-sizes: ();

@mixin mainFont {
  font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $dark-color;
}

li {
  list-style: none;
}

@mixin flex($jus, $align, $dir) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
  flex-direction: $dir;
}

@mixin transition {
  transition: all 700ms ease-in-out;
}
