@use 'config' as c;
@use 'breakpoints';

body {
  @include c.mainFont;
  font-size: 10px;
  background: gray;
}

#sec-header {
  width: 100%;
  background: black;
  padding: 10px 0;
  padding-right: 5px;
}

.sec-header {
  @include c.flex(flex-end, flex-end, column);

  & .logo {
    width: 75px;

    & img {
      width: 100%;
    }
  }
}

#pri-header {
  width: 100%;
  height: auto;
  background: white;
}

.pri-header {
  position: relative;
  width: 100%;
  height: auto !important;
  margin-inline: auto;
  @include c.flex(space-between, center, row);
}

.item1 {
  display: none;
  margin-left: 30px;
  & i {
    font-size: 20px;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.header-item.item2 {
  @include c.flex(space-between, center, row);
  margin-left: 30px;
}

.links-container {
  margin-left: 10px;
  & .links {
    @include c.flex(space-between, center, row);

    & li {
      @include c.flex(space-between, flex-end, row);
      font-size: 1.4em;
      font-weight: 500;
      cursor: pointer;
      transition: all 200ms;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        color: c.$blue-color;
        & i {
          color: c.$blue-color;
        }
      }

      & i {
        transform: translateY(4px);
        margin-left: 5px;
        font-size: 18px;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.5);
        transition: all 200ms;
      }
    }
  }
}

.links-tabs-container {
  position: absolute;
  width: 100%;
  top: 70px;
}

.link-tab {
  width: 100%;
  // @include c.flex(center, center, column);
  display: none;

  &.open {
    @include c.flex(center, center, column);
  }

  & .perks-array {
    @include c.flex(center, flex-end, row);

    & .perk-item {
      @include c.flex(center, center, column);
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 60px;
      }

      &:hover {
        box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5),
          -10px -10px -1px rgba(0, 0, 0, 0.5);
      }

      & img {
        width: 55px;
        margin-bottom: 10px;
      }

      & p {
        text-align: center;
        font-size: 1.4em;
        font-weight: 400;
      }
    }
  }

  .link-tab-ad-info {
    width: 100%;
    @include c.flex(center, center, row);
    margin-top: 30px;
    box-shadow: -0.5px -0.5px 0px rgba(0, 0, 0, 0.3);
    padding: 15px 0;

    & .info {
      @include c.flex(center, center, row);
      font-size: 1.5em;
      cursor: pointer;

      & .dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: c.$blue-color;
        border-radius: 50%;
        margin-right: 8px;
      }

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        color: c.$blue-color;
      }
    }
  }
}

.signin-container {
  @include c.flex(space-between, center, row);
  margin-right: 30px;

  & .signin {
    background: c.$gray-darker-color;
    color: white;
    padding: 4px 10px;
    border-radius: 50px;
    font-size: 1.7em;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      background: c.$gray-color;
    }
  }

  & i.fa-search {
    margin-left: 25px;
    font-size: 18px;
    cursor: pointer;
  }
}

// @use 'breakpoints';
