@use 'config' as c;

body {
  @include c.mainFont;
  font-size: 10px;
}

#sec-header {
  width: 100%;
  background: black;
  padding: 10px 0;
  padding-right: 5px;
}

.sec-header {
  @include c.flex(flex-end, flex-end, column);

  & .logo {
    width: 75px;

    & img {
      width: 100%;
    }
  }
}

#pri-header {
  width: 100%;
  height: auto;
}

.pri-header {
  width: 95%;
  height: auto !important;
  margin-inline: auto;
  @include c.flex(space-between, center, row);
}

.item1 {
  display: none;
}

.header-item.item2 {
  @include c.flex(space-between, center, row);
}

.links-container {
  margin-left: 10px;
  & .links {
    @include c.flex(space-between, center, row);

    & li {
      @include c.flex(space-between, flex-end, row);
      font-size: 1.3em;
      font-weight: 500;
      cursor: pointer;
      transition: all 200ms;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        color: c.$blue-color;
        & i {
          color: c.$blue-color;
        }
      }

      & i {
        transform: translateY(4px);
        margin-left: 5px;
        font-size: 18px;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.5);
        transition: all 200ms;
      }
    }
  }
}

.signin-container {
  @include c.flex(space-between, center, row);

  & .signin {
    background: c.$gray-darker-color;
    color: white;
    padding: 4px 10px;
    border-radius: 50px;
    font-size: 1.6em;
    text-transform: capitalize;
  }
}
